@import '@/ui/themes/config.scss';

.tabs {
	justify-content: flex-start;
	align-items: flex-end;
	grid-column: initial;
	display: flex;
	flex: 1;
	transition: transform $defaultTransitionMs ease;

	a {
		font-weight: 400;
		font-size: 12px;
		line-height: 150%;
		text-align: center;
		letter-spacing: 1.2px;
		text-transform: uppercase;
		color: $text-color-primary;
		border-bottom: 2px solid transparent;
		min-width: 98px;
		padding: 14px 0px;
		font-family: 'TSUM Lenta';
		display: flex;
		justify-content: center;

		&.active {
			border-color: $primary-color;
		}

		&:not(:last-child) {
			margin-right: 17px;
		}
	}
}