@import "@/ui/themes/config.scss";


.wrap {
	display: flex;
	align-items: center;
	position: relative;
	cursor: pointer;

	&.disabled {
		opacity: 0.6;
	}

	&.stretch {
		width: 100%;

		.title {
			flex-grow: 1;
		}
	}

	.title {
		font-family: 'Geometria';
		font-weight: 400;
		font-size: 13px;
		line-height: 150%;
		color: $text-color-primary;
	}

	.control {
		border: 2px solid $primary-color;
		margin-right: 18px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 20px;
		height: 20px;
		border-radius: 4px;
		box-sizing: border-box;
		flex-shrink: 0;

		&::after {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			position: absolute;
		}

		.icon {
			transform: scale(0);
			transition: transform .2s;
			color: #fff;
			z-index: 1;
			width: 13px;
			height: 13px;
		}

		&::after {
			content: '';
			display: flex;
			background: $primary-color;
			transition: opacity .4s;
			opacity: 0;
			justify-content: center;
			align-items: center;
		}


		&.colored {
			border: 2px solid $secondary-color;

			&::after {
				background: $secondary-color;
			}
		}

		&.rounded {
			border-radius: 50%;
			overflow: hidden;
		}
	}

	.input {
		display: none;
		position: absolute;

		&[disabled] .control {
			opacity: .5;
		}

		&:checked+.control::after {
			opacity: 1;
		}

		&:checked+.control .icon {
			transform: scale(1);
		}
	}
}