.joyrideContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 16px;
  background: #fff;
  padding: 8px 16px 8px 8px;
  box-sizing: border-box;
  max-width: 90vw;
  align-items: center;
  position: relative;
}

.containerWithRightIcon {
  flex-direction: row;
  padding: 8px;
}

.joyrideText {
  padding: 8px;
}

.closeIcon {
  width: 24px;
  height: 24px;
  flex: 0 0 auto;
  cursor: pointer;
}

.closeIconTop {
  width: 24px;
  height: 24px;
  flex: 0 0 auto;
  cursor: pointer;
  position: absolute;
  left: 0;
}

.tooltipHeader {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  height: 40px;
}
