// ROM_TSUM_APP
@mixin hide-scroll() {
	-ms-overflow-style: none;
	/* for Internet Explorer, Edge */
	scrollbar-width: none;
	/* for Firefox */
	overflow-y: auto;

	&::-webkit-scrollbar {
		display: none;
		/* for Chrome, Safari, and Opera */
	}
}