@import '@/ui/themes/config.scss';

.order {
  border: 1px solid $services-gray;
  border-radius: 16px;
  padding: 16px;
  padding-top: 20px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  position: relative;
  background-color: #fff;
}

.title {
  @include caption();
  font-weight: bold;
  font-size: 14px;
  align-self: flex-start;
  margin-bottom: 12px;
}

.delivery {
  display: flex;
  align-items: flex-start;

  svg {
    min-width: 24px;
  }

  svg,
  .deliveryTitle {
    color: $primary-color;
  }

  &:not(.rejected) {

    svg,
    .deliveryTitle {
      color: $secondary-color;
    }
  }
}

.info {
  margin-left: 22px;
}

.products {
  display: flex;
  @include hide-scroll();
  flex-wrap: nowrap;
  overflow: auto;
  gap: 8px;
  width: 100%;
  margin-top: 29px;

  .produtImage {
    width: 68px;
    height: 104px;
    object-fit: contain;

    @include desktop() {
      width: 138px;
      height: 212px;

      @include media-breakpoint-down(lg) {
        width: 112px;
      }
    }
  }

  &.smallType {
    .produtImage {
      width: 68px;
      height: 104px;
    }
  }
}

.aloneProduct {
  display: flex;
  gap: 8px;
  max-width: 100%;
  overflow: hidden;

  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.imageContainer {
  position: relative;
}

.itemName {
  max-width: calc(100% - 30px);
}