@import '@/ui/themes/config.scss';

.counter {
	@include caption();
	position: absolute;
	background: rgba(252, 251, 253, 0.9);
	backdrop-filter: blur(2px);
	font-weight: 400;
	font-size: 12px;
	border-radius: 7px;
	width: 44px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 50%;
	transform: translateY(-50%) translateX(50%);
	right: 50%;
}

.badge {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	background: $secondary-color;
	min-width: 20px;
	transform: translate(100%, 0);
	border: 1px solid #fff;
	z-index: 10;
	box-sizing: border-box;
	padding: 3px 6px;
	border-radius: 100px;

	p {
		@include caption();
		font-size: 10px;
		line-height: 12px;
		letter-spacing: 0;
		text-align: center;
		color: #fff;
		position: relative;
		top: 1px;
	}
}