.label {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Geometria, sans-serif;
	font-size: 11px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;

	&_small {
		font-size: 8px;
		font-weight: 500;
	}

	&_checked {
		background-color: #fff;
		border-radius: 7px;
		box-shadow: 0 2px 3px 0 rgba(27, 27, 27, 0.14);
	}
}


.input {
	width: 0;
	height: 0;
	opacity: 0;
	pointer-events: none;
	margin: 0;
	padding: 0;
}