@import '@/ui/themes/config.scss';

.wrapper {
	margin-top: 20px;
	flex-direction: column;
	gap: 0;

	p {
		white-space: pre-wrap;
	}

	@include desktop() {
		margin-top: 24px;
	}

	span {
		text-decoration: underline;
		cursor: pointer;
	}
}