@import '@/ui/themes/config.scss';

.wrapper {
  display: flex;
  flex: 1;
  position: relative;
  flex-direction: column;
  gap: 2px;

  p,
  span {
    font-size: 12px;

    @include desktop() {
      font-size: 14px;
    }
  }

  &.isVariationB {
    margin-bottom: 16px;

    .totalPrice {
      padding: 8px 0px;

      p {
        font-size: 15px;
      }
    }
  }
}

.discount {
  p,
  span {
    color: $secondary-color;
  }
}
