@import "@/ui/themes/config.scss";


.textWrapper {
	max-width: 984px;
	margin: 0 auto 4rem;
	font-size: 12px;
	line-height: 1.5;

	section {
		margin-top: 1em;
		margin-bottom: 1em;
	}

	h5 {
		@include caption();
		margin-top: 1em;
		margin-bottom: 1em;
	}

	h4 {
		@include caption();
		font-weight: bold;
		font-size: 12px;
	}

	div {
		margin: 1em;
	}

	.tableWrapper {
		overflow: auto;
	}

	table {
		border-collapse: collapse;
		border: 1px solid $primary-color;

		td,
		th {
			padding: 5px 10px;
			border: 1px solid $primary-color;
		}
	}

	a {
		color: $secondary-color;
		transition: 0.2s ease;

		&:hover,
		&:focus {
			opacity: 0.7;
		}

		&:active {
			opacity: 0.4;
		}
	}

	ul {
		li {
			list-style: disc;
			margin: 1rem 1rem 1rem 2rem;
		}
	}

	.publishedDate {
		margin-top: 0;
		margin-bottom: 1em;
	}
}

.navigationDisabled {
	margin-top: 34px;
}
